ion-content {
  --background: url(../../../assets/leaves.jpg) no-repeat center center/cover;
}
ion-list {
  transform: translateY(25vh);
  background: transparent;
  ion-list-header {
    margin-bottom: 15vh;
    letter-spacing: 3px;

    ion-label {
      font-weight: bold;
      font-size: 3rem;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  }
  ion-button {
    --background: #93e9be;
    font-weight: bold;
    text-transform: none;
    margin: 5vh;
  }

  p {
    font-size: 0.9rem;
  }
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
